server {
  listen                         0.0.0.0:80;
  access_log                     /var/log/nginx/odoo-http.access.log csv;
  error_log                      /var/log/nginx/odoo-http.error.log;
  root                           /var/www/html;
  index                          index.html index.htm index.nginx-debian.html;
  location ~ /.well-known        { allow      all;}
	return                         301 https://$host$request_uri;
}
server {
  listen                         0.0.0.0:443 ssl http2;
  server_name                    {{ odoo_address }};
  access_log                     /var/log/nginx/odoo-https.access.log csv;
  error_log                      /var/log/nginx/odoo-https.error.log;
  resolver                       8.8.8.8;
  ssl                            on;
  ssl_stapling                   on;
  ssl_stapling_verify            on;
  charset                        UTF-8;
  ssl_dhparam                    /etc/ssl/certs/dhparam.pem;
  ssl_certificate                {{ ssl_certificate_path }};
  ssl_certificate_key            {{ ssl_privete_key_path }};
  ssl_protocols                  TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers      on;
  ssl_ciphers                    EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
  ssl_ecdh_curve                 secp384r1;
  ssl_session_cache              shared:SSL:2m;
  ssl_session_tickets            off;
  add_header                     "X-UA-Compatible" "IE=Edge";
  client_max_body_size           100m;
	proxy_buffers                  16 64k;
	proxy_buffer_size              128k;
	proxy_read_timeout             720s;
	proxy_connect_timeout          720s;
	proxy_send_timeout             720s;

  location ~ /.well-known                      { allow      all;}
  location = /robots.txt                       { access_log off; log_not_found off; }
  location = /favicon.ico                      { try_files /favicon.ico = 204; }
  location = /apple-touch-icon.png             { access_log off; log_not_found off; }
  location = /apple-touch-icon-precomposed.png { access_log off; log_not_found off; }
  location ~ /\.                               { access_log off; log_not_found off; deny all; }
  location ~* ^.+\.(htaccess|svn|tpl)$         { deny all; }

	location / {
		proxy_pass          http://127.0.0.1:8069;
		proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
		proxy_redirect      off;
		proxy_set_header    Host              $host;
		proxy_set_header    X-Forwarded-Host  $host;
		proxy_set_header    X-Real-IP         $remote_addr;
		proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
		proxy_set_header    X-Forwarded-Proto https;
	  proxy_set_header    X-Forwarded-Proto $scheme;
	}

	location ~* /web/static/ {
		proxy_cache_valid   200 60m;
		proxy_buffering     on;
		expires             864000;
		proxy_pass          http://127.0.0.1:8069;
	}

  location ^~ /[\/]+/static/ {
		proxy_cache_valid   200 60m;
		proxy_buffering     on;
		expires             864000;
		proxy_pass          http://127.0.0.1:8069;
  }

  gzip                  on;
  gzip_disable          "msie6";
  gzip_vary             on;
  gzip_proxied          any;
  gzip_comp_level       6;
  gzip_min_length       1100;
  gzip_buffers          16 8k;
  gzip_http_version     1.0;
	gzip_types            text/css text/less text/plain text/xml application/xml application/json application/javascript;
}
