server {
  listen                         0.0.0.0:80;
  server_name                    {{ site.domain_names|join(' ') }};
  root                           {{ site.root }};
  access_log                     /var/log/nginx/{{ site.name }}.access.log csv;
  error_log                      /var/log/nginx/{{ site.name }}.error.log;
  location ~ /.well-known        { allow      all;}
  return                         301 https://{{ site.domain_names.0 }}$request_uri;
}
server {
  listen                         0.0.0.0:443 ssl http2;
  server_name                    {{ site.domain_names|join(' ') }};
  resolver                       8.8.8.8;
  ssl                            on;
  ssl_stapling                   on;
  ssl_stapling_verify            on;
  charset                        UTF-8;
  ssl_dhparam                    /etc/ssl/certs/dhparam.pem;
  ssl_certificate                {{ ssl_certificate_path }};
  ssl_certificate_key            {{ ssl_privete_key_path }};
  ssl_protocols                  TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers      on;
  ssl_ciphers                    EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
  ssl_ecdh_curve                 secp384r1;
  ssl_session_cache              shared:SSL:2m;
  ssl_session_tickets            off;
  add_header                     "X-UA-Compatible" "IE=Edge";
  access_log                     /var/log/nginx/{{ site.name }}.access.log csv;
  error_log                      /var/log/nginx/{{ site.name }}.error.log;
  client_max_body_size           50m;
  root                           {{ site.root }};
  index                          index.php index.html;

  location ~ /.well-known                      { allow      all;}
  location = /robots.txt                       { access_log off; log_not_found off; }
  location = /favicon.ico                      { try_files /favicon.ico = 204; }
  location = /apple-touch-icon.png             { access_log off; log_not_found off; }
  location = /apple-touch-icon-precomposed.png { access_log off; log_not_found off; }
  location ~ /\.                               { access_log off; log_not_found off; deny all; }
  location ~* ^.+\.(htaccess|svn|tpl)$         { deny all; }

  gzip              on;
  gzip_disable      "msie6";
  gzip_vary         on;
  gzip_proxied      any;
  gzip_comp_level   6;
  gzip_min_length   1100;
  gzip_buffers      16 8k;
  gzip_http_version 1.0;
  gzip_types        application/json text/css application/javascript;

  rewrite ^/api/?(.*)$ /webservice/dispatcher.php?url=$1 last;
  rewrite ^/([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$1$2$3.jpg last;
  rewrite ^/([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$1$2$3$4.jpg last;
  rewrite ^/([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$1$2$3$4$5.jpg last;
  rewrite ^/([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$1$2$3$4$5$6.jpg last;
  rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$1$2$3$4$5$6$7.jpg last;
  rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$1$2$3$4$5$6$7$8.jpg last;
  rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$7/$1$2$3$4$5$6$7$8$9.jpg last;
  rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9$10.jpg last;
  rewrite ^/c/([0-9]+)(\-[\.*_a-zA-Z0-9-]*)(-[0-9]+)?/.+\.jpg$ /img/c/$1$2$3.jpg last;
  rewrite ^/c/([a-zA-Z_-]+)(-[0-9]+)?/.+\.jpg$ /img/c/$1$2.jpg last;
  rewrite ^/images_ie/?([^/]+)\.(jpe?g|png|gif)$ /js/jquery/plugins/fancybox/images/$1.$2 last;

  try_files $uri $uri/ /index.php$is_args$args;

  rewrite ^/5-podveska$            /5-podveska-bizhuteria         permanent;
  rewrite ^/19-zagadaj-zhelanie$   /19-podveska-zagadaj-zhelanie  permanent;
  rewrite ^/20-ravnovesie$         /20-podveska-ravnovesie        permanent;
  rewrite ^/21-udacha-s-toboj$     /21-podveska-udacha-s-toboj    permanent;
  rewrite ^/22-povorot-sudby$      /22-podveska-povorot-sudby     permanent;
  rewrite ^/25-love-is-$           /25-podveska-love-is           permanent;
  rewrite ^/26-dochki-materi$      /26-podveska-dochki-materi     permanent;
  rewrite ^/29-odna-na-million$    /29-podveska-odna-na-million   permanent;
  rewrite ^/31-druzya$             /31-podveska-druzya            permanent;
  rewrite ^/6-braslet$             /6-braslet-bizhuteria          permanent;
  rewrite ^/32-ravnovesie$         /32-braslet-ravnovesie         permanent;
  rewrite ^/33-devichnik$          /33-braslet-devichnik          permanent;
  rewrite ^/34-zagadaj-zhelanie$   /34-braslet-zagadaj-zhelanie   permanent;
  rewrite ^/11-mame$               /11-podarok-mame               permanent;
  rewrite ^/12-dochke$             /12-podarok-dochke             permanent;
  rewrite ^/13-sestre$             /13-podarok-sestre             permanent;
  rewrite ^/14-podruge$            /14-podarok-podruge            permanent;
  rewrite ^/17-podruzhkam-nevesty$ /17-podarok-podruzhkam-nevesty permanent;
  rewrite ^/36-lyubimoj$           /36-podarok-lyubimoj           permanent;

  location ~* \.(gif)$      { expires 2592000s; }
  location ~* \.(jpeg|jpg)$ { expires 2592000s; }
  location ~* \.(png)$      { expires 2592000s; }
  location ~* \.(css)$      { expires 604800s;  }
  location ~* \.(js|jsonp)$ { expires 604800s;  }
  location ~* \.(js)$       { expires 604800s;  }
  location ~* \.(ico)$      { expires 31536000s;}

  location ~ \.php$ {
    try_files                $uri =404;
    include                  /etc/nginx/fastcgi_params;
    fastcgi_pass             php-fpm;
    fastcgi_index            index.php;
    fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_buffers          8 128k;
    fastcgi_buffer_size      256k;
    fastcgi_read_timeout     300;
    fastcgi_intercept_errors on;
    proxy_buffer_size        64k;
    proxy_buffers            4 128k;
    proxy_busy_buffers_size  128k;
  }
}
